body {
    background-color: black;
}

.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    text-align: center;
    background-color: rgb(215, 129, 53);
    border-style: groove;
}

h1 {
    text-align: center;
    color: rgb(255, 183, 0);
}

.image {
    margin-top: 50px;
    border: 10px solid orange;
    border-style: groove;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 45px;
}

.image2 {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white
}

.footer{
    text-align: center;
    color: rgb(255, 153, 170);
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: rgb(215, 129, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: groove;
  }

/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */